.pro-back{
    background-color: #8A7C4E;
    min-height: 100vh;
    background-size: cover; 
    background-position: top;
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
    justify-content: center;
}

.take-bg{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #D1D3B0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    width: 100%;
    text-shadow: -2px -1px 5px #2F2963, 2px 1px 5px #454372;    
    left: 500px;
}

.bg-photo{
    background-size: cover; 
    background-position: right;
    background-image: url('../../src/assets/projects.png');
    position: relative;
    min-height: 100vh;
    right: 200px;
    top: 100px;
}