.contact-back {
    width: 100%;
    min-height: 100vh;
    background-color: beige;
    background-size: cover;
    background-position: center;
    color: #dfdcb9;
    display: flex;
    align-items: center;
    
}

.body {

    width: 100%;
    

}

.body p {

    font-size: 45px;
    color: black;
    text-align: center;

}