.hero {
    width: 100%;
    min-height: 100vh;
    color: #dfdcb9;
    display: flex;
    align-items: center;
    
}

.hero-text {
    text-align: center;
    max-width: 0px;
    display: flex;
    flex-direction: column;
    
    
    
}

.hero-text h1 {
    font-size: 70px;
    font-weight: 600;
    width: 2000px;
    margin-left: 500px;
    text-align: center;
    font-family: ;
}


    

.hero-text p {
    width: 1000px;
    margin: 10px auto 25px;
    line-height: 1.7;
    font-size: 45px;
    margin-left: 1000px;
    text-align: center;
}

.headshots {

    display: flex;
    height: 1000px;
    width: 1000px;
    flex-direction: row;
    align-content: flex-start;
    
     
}